<div>
  <p>
    Hi, I'm <strong>Cesar</strong>. I'm a software engineer and working student.
    I'm currently on my self-improvemnt journy and hope that this blog helps me.
    You see some of my work on <a href="https://www.github.com/cesarandr" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
